<h1>Public::Homes#top</h1>

<div class="link">
<%=link_to "sing_in",new_customer_registration_path,class: "glyphicon glyphicon-folder-open btn btn-info" %>
</div>
<div class="link">
<%=link_to "log_in",new_customer_session_path,class: "glyphicon glyphicon-folder-open btn btn-info" %>
</div>
